<h1 mat-dialog-title>New variety based on
  <mat-select placeholder="Variety" [(ngModel)]="varietyHeritage" (ngModelChange)="onHeritageVarietyChange($event)">
    <mat-option *ngFor="let variety of varieties" [value]="variety">{{variety.name}}</mat-option>
  </mat-select>
</h1>
<div>
<mat-list role="list">
<mat-list-item role="listitem">
  <mat-form-field>
  	<input matInput placeholder="Variety Name" [(ngModel)]="variety.name" required minlength="0" maxlength="50" pattern="^[_A-Za-z0-9]*$">
  </mat-form-field>
</mat-list-item>
<mat-list-item role="listitem">
	<mat-form-field>
		<input matInput type="number" min=0  step="1" placeholder="Row space (cm)" [(ngModel)]="variety.rowSpace" required>
	</mat-form-field>
</mat-list-item>
<mat-list-item role="listitem">
	<mat-form-field>
		<input matInput type="number" min=0  step="1" placeholder="Column space (cm)" [(ngModel)]="variety.columnSpace" required>
	</mat-form-field>
</mat-list-item>
<mat-list-item role="listitem">
<mat-form-field>
  <mat-select placeholder="Semis Month" [(ngModel)]="variety.semisMonths" multiple>
    <mat-option *ngFor="let month of monthList" [value]="month">{{month}}</mat-option>
  </mat-select>
</mat-form-field>
</mat-list-item>
<mat-list-item role="listitem">
<mat-form-field>
  <mat-select placeholder="Plantation Month" [(ngModel)]="variety.plantationMonths" multiple>
    <mat-option *ngFor="let month of monthList" [value]="month">{{month}}</mat-option>
  </mat-select>
</mat-form-field>
</mat-list-item>
<mat-list-item role="listitem">
	<mat-form-field>
		<input matInput type="number" min=0  step="1" placeholder="Occupation Month" [(ngModel)]="variety.occupationMonthNumber" required>
	</mat-form-field>
</mat-list-item>
<mat-list-item role="listitem">
	<mat-form-field>
    <mat-select placeholder="Exposition" [(ngModel)]="variety.bestExposition">
      <mat-option *ngFor="let exposition of expositionList" [value]="exposition">{{exposition}}</mat-option>
    </mat-select>
	</mat-form-field>
</mat-list-item>
</mat-list>
</div>
<mat-dialog-actions>
<button mat-button data-dismiss="modal" (click)="cancel()">Cancel</button>
<button mat-raised-button color="primary" (click)="saveVariety()" [disabled]="isSaving">Save</button>
</mat-dialog-actions>
