@import '~@angular/material/theming';
@include mat-core();
$forest-primary: mat-palette($mat-brown);
$forest-accent:  mat-palette($mat-green);
$forest-warn:    mat-palette($mat-red);
$forest-theme: mat-light-theme(
    (
      color: (
        primary: $forest-primary,
        accent: $forest-accent,
        warn: $forest-warn,
      )
    )
);

@include angular-material-theme($forest-theme);