
<div class="add-variety-icon" (click)="openCreateOrUpdateVarietyDialog()"><fa-icon [icon]="addIcon" size="3x"></fa-icon>Add your own variety</div>
<mat-list>
  <mat-list-item *ngFor="let variety of varieties">
    <img class="vegetable-image" src="assets/images/vegetables/{{variety.name}}.svg" alt="{{variety.name}} image"/>
    <h3 class="variety-title"> {{variety.name}} </h3>
    <div class="variety-icon" (click)="openCreateOrUpdateVarietyDialog(variety)">
      <fa-icon [icon]="editIcon" size="2x"></fa-icon>
    </div>
    <div class="variety-icon" (click)="deleteVariety(variety)">
      <fa-icon [classes]="['variety-icon']" [icon]="deleteIcon" size="2x"></fa-icon>
    </div>
  </mat-list-item>
</mat-list>
