<mat-grid-list cols="4">
  <mat-grid-tile
      *ngFor="let garden of gardens">
    <mat-card  *ngIf="garden.id" class="gardenCard" contenteditable="">
      <mat-card-header>
    	<mat-card-title  [routerLink]="['/garden', garden.id]">
    		<span class="md-headline" >{{garden.name}}</span>
    	</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem">
          {{garden.nbRow}} x {{garden.nbColumn}}
          </mat-list-item>
        </mat-list>
        <mat-list role="list">
          <mat-list-item role="listitem">
          {{garden.nbRow*garden.cellLength}}m x {{garden.nbColumn*garden.cellLength}}m
          </mat-list-item>
        </mat-list>
        <mat-list role="list">
          <mat-list-item role="listitem">
          {{garden.nbRow*garden.cellLength * garden.nbColumn*garden.cellLength}}m2
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openCreateGardenDialog(garden)">Edit</button>
      <button mat-button (click)="deleteGarden(garden)">Delete</button>
    </mat-card-actions>
    </mat-card>
    <mat-card  *ngIf="!garden.id" class="gardenCard">
      <mat-card-title class="center" *ngIf="!garden.id" (click)="openCreateGardenDialog()">
        <button mat-fab color="primary">+</button>
      </mat-card-title>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
