.gardenCard{
	width:300px;
	height:300px;
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mat-card {
	cursor: pointer;
}

.configure-button{
	float:right;
}
