<h1 mat-dialog-title>Edit cell plantation</h1>
  <mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="Recommandé">
      <mat-list class="add-plant-to-cell-tab">
        <div *ngFor="let varietySelection of recommanded">
          <div class="list-item">
            <mat-checkbox [class.custom]="varietySelection.custom" [(ngModel)]="varietySelection.selected">{{varietySelection.name}}</mat-checkbox>
            <div class="recommandation-reason" [innerHTML]="varietySelection.getTooltipReasonWhy() | safeHtml"></div>
            <div class="nested-list-item" [hidden]="!varietySelection.selected">
              <mat-slide-toggle [(ngModel)]="varietySelection.semis">
                <div [hidden]="varietySelection.semis">Semis</div>
                <div [hidden]="!varietySelection.semis">Plant</div>
              </mat-slide-toggle>
              <mat-form-field class="quantity">
                <input [(ngModel)]="varietySelection.quantity" matInput type="number" min=0 placeholder="Quantity">
              </mat-form-field>
              <mat-form-field class="occupationMonthNumber">
                <input [(ngModel)]="varietySelection.occupationMonthNumber" matInput type="number" min=1 placeholder="Occupation Months">
              </mat-form-field>
              <div class="warning" *ngIf="isCellOverloaded()">
                Warn: too much vegetables!
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>
      </mat-list>
    </mat-tab>
    <mat-tab label="Neutre">
      <mat-list class="add-plant-to-cell-tab">
        <div *ngFor="let varietySelection of neutral">
          <div class="list-item">
            <mat-checkbox [class.custom]="varietySelection.custom" [(ngModel)]="varietySelection.selected">{{varietySelection.name}}</mat-checkbox>
            <div class="recommandation-reason" [innerHTML]="varietySelection.getTooltipReasonWhy() | safeHtml"></div>
            <div class="nested-list-item" [hidden]="!varietySelection.selected">
              <mat-slide-toggle [(ngModel)]="varietySelection.semis">
                <div [hidden]="varietySelection.semis">Semis</div>
                <div [hidden]="!varietySelection.semis">Plant</div>
              </mat-slide-toggle>
              <mat-form-field class="quantity">
                <input [(ngModel)]="varietySelection.quantity" matInput type="number" min=0 placeholder="Quantity">
              </mat-form-field>
              <mat-form-field class="occupationMonthNumber">
                <input [(ngModel)]="varietySelection.occupationMonthNumber" matInput type="number" min=1 placeholder="Occupation Months">
              </mat-form-field>
              <div class="warning" *ngIf="isCellOverloaded()">
                Warn: too much vegetables!
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>
      </mat-list>
    </mat-tab>
    <mat-tab label="Déconseillé">
      <mat-list class="add-plant-to-cell-tab">
        <div *ngFor="let varietySelection of notRecommanded">
          <div class="list-item">
            <mat-checkbox [class.custom]="varietySelection.custom" [(ngModel)]="varietySelection.selected">{{varietySelection.name}}</mat-checkbox>
            <div class="recommandation-reason" [innerHTML]="varietySelection.getTooltipReasonWhy() | safeHtml"></div>
            <div class="nested-list-item" [hidden]="!varietySelection.selected">
              <mat-slide-toggle [(ngModel)]="varietySelection.semis">
                <div [hidden]="varietySelection.semis">Semis</div>
                <div [hidden]="!varietySelection.semis">Plant</div>
              </mat-slide-toggle>
              <mat-form-field class="quantity">
                <input [(ngModel)]="varietySelection.quantity" matInput type="number" min=0 placeholder="Quantity">
              </mat-form-field>
              <mat-form-field class="occupationMonthNumber">
                <input [(ngModel)]="varietySelection.occupationMonthNumber" matInput type="number" min=1 placeholder="Occupation Months">
              </mat-form-field>
              <div class="warning" *ngIf="isCellOverloaded()">
                Warn: too much vegetables!
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button data-dismiss="modal" (click)="cancel()">
    Cancel
  </button>
  <button mat-raised-button color="primary" (click)="savePlantCell()" [disabled]="isSaving">
    Save
  </button>
</mat-dialog-actions>
