.add-plant-to-cell-tab{
  height: 500px;
}

.nested-list-item{
  margin-left: 18px;
  padding: 10px;
}

.list-item{
  margin:10px;
  padding: 10px;
}

.quantity{
  margin-left:10px;
}

.recommandation-reason{
  font-size: 12px;
}

.custom{
  font-weight: bold;
}
