  <div *ngIf="garden" (mouseup)="stopDragingCompass($event)">


  <div class="dateToolbar">
    <div>
      <img class= "compass" src="assets/images/compass.png" alt="Compass Image"
  (mousedown)="startDragingCompass($event)"
  (dragstart)="false"
  (dragstop)="false"
  (mousemove)="moveCompass($event)"
  [ngStyle]="{'transform':'rotate('+garden.northAngleWithTopPageInDegree+'deg)'}"/>
    </div>
    <span  class="dateToolbarRow">
      <span class="previousMonth" (click)="previousMonth()">&lt;</span>
      <span class="date">{{getMonthName()}} {{year}}</span>
      <span class="nextMonth" (click)="nextMonth()">></span>
      <span>
        <input class="datePicker" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker mat-mode="month" #picker></mat-datepicker>
      </span>
    </span>
  </div>

  <div class="gardenMap"  [ngStyle]="{ 'width.px': garden.nbColumn * 100 }">
  <mat-grid-list cols={{garden.nbColumn}} [ngStyle]="{ 'width.px': garden.nbColumn * 100}" [class.top-wall]="garden.topWall" [class.bottom-wall]="garden.bottomWall" [class.right-wall]="garden.rightWall" [class.left-wall]="garden.leftWall">
    <mat-grid-tile
        *ngFor="let gardenCell of gardenCells ;let index = index;" (click)="openAddPlantToCellDialog(index)">
        <mat-card class="gardenCell" >
          <img class="exposition-image" src="assets/images/expositions/{{gardenCell.exposition}}.png" alt="{{gardenCell.exposition}} image"/>
          <div >
            <div class="vegetable-row-list" *ngFor="let plantation of gardenCell.plantations">
            <img class="vegetable-image" src="assets/images/vegetables/{{plantation.variety.name}}.svg" alt="{{plantation.variety.name}} image"/> x {{plantation.quantity}}
            </div>
        </div>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  </div>
</div>
