.gardenCell{
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
  cursor: pointer;
  background-color: #CBFECD;
}

.gardenMap {
    display: block;
    margin: auto;
    margin-top:10px;
}

.compass {
  width: 100px;
  cursor: pointer;
}

.previousMonth{
cursor: pointer;
  margin: 20px;
}

.nextMonth{
  cursor: pointer;
  margin: 20px;
}

.dateToolbar{
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.dateToolbarRow{
  margin: auto;
  width: 50%;
}

.date{
  margin: auto;
  width: 50%;
  text-align: center;
}

.vegetable-row-list{
  padding: 5px;
  height:20px;
}

.vegetable-image{
  height:20px;
}

.exposition-image{
  height:20px;
  float: right;
}

.datePicker{
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

.top-wall{
  border-top: solid 10px;
}

.bottom-wall{
  border-bottom: solid 10px;
}

.right-wall{
  border-right: solid 10px;
}

.left-wall{
  border-left: solid 10px;
}
