  <app-banner imageUrl="assets/images/potager_designer_banner.jpg"></app-banner>
  <!--<nav>
  <a routerLink="/gardens">Gardens</a>
</nav>-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="top-menu-link" routerLink="/gardens">Gardens</span>
    <span class="top-menu-link" routerLink="/varieties">Varieties</span>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
