<h1 mat-dialog-title>New garden</h1>
<div>
<mat-list role="list">
<mat-list-item role="listitem">
<mat-form-field>
	<input matInput placeholder="Garden Name" [(ngModel)]="garden.name" required minlength="0" maxlength="50" pattern="^[_A-Za-z0-9]*$">
  </mat-form-field>
</mat-list-item>
<mat-list-item role="listitem">
<mat-form-field>
	<input matInput type="number" min=0 placeholder="Rows" [(ngModel)]="garden.nbRow" required>
  </mat-form-field>
</mat-list-item>
<mat-list-item role="listitem">
	<mat-form-field>
		<input matInput type="number" min=0 placeholder="Columns" [(ngModel)]="garden.nbColumn" required>
  </mat-form-field>
</mat-list-item>
<mat-list-item role="listitem">
	<mat-form-field>
		<input matInput type="number" min=0  step="0.1" placeholder="Cell Length (m)" [(ngModel)]="garden.cellLength" required>
	</mat-form-field>
</mat-list-item>
<mat-list-item role="listitem">
	<mat-form-field>
		<input matInput type="number" min=0 step="0.1" placeholder="Top Wall Height (m)" [(ngModel)]="garden.topWall" required>
  </mat-form-field>
</mat-list-item>
<mat-list-item role="listitem">
	<mat-form-field>
		<input matInput type="number" min=0 step="0.1" placeholder="Bottom Wall Height (m)" [(ngModel)]="garden.bottomWall" required>
  </mat-form-field>
</mat-list-item>
<mat-list-item role="listitem">
	<mat-form-field>
		<input matInput type="number" min=0 step="0.1" placeholder="Left Wall Height (m)" [(ngModel)]="garden.leftWall" required>
  </mat-form-field>
</mat-list-item>
<mat-list-item role="listitem">
	<mat-form-field>
		<input matInput type="number" min=0 step="0.1" placeholder="Right Wall Height (m)" [(ngModel)]="garden.rightWall" required>
  </mat-form-field>
</mat-list-item>
<mat-list-item role="listitem">
	<mat-form-field>
		<input matInput type="number" min=0 step="0.0000001" placeholder="Longitude" [(ngModel)]="garden.longitude" required>
  </mat-form-field>
</mat-list-item>
<mat-list-item role="listitem">
	<mat-form-field>
		<input matInput type="number" min=0 step="0.0000001" placeholder="Latitude" [(ngModel)]="garden.latitude" required>
  </mat-form-field>
</mat-list-item>
</mat-list>
</div>
<mat-dialog-actions>
<button mat-button data-dismiss="modal" (click)="cancel()">Cancel</button>
<button mat-raised-button color="primary" (click)="saveGarden()" [disabled]="isSaving">Save</button>
</mat-dialog-actions>
